<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign In</h3>
			</div>
			<div class="card-body">
				<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope"></i></span>
						</div>
						<%= f.email_field :email, autofocus: true, placeholder: "e-mail", class: "form-control" %>
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<%= f.password_field :password, autocomplete: "off", placeholder: "password", class: "form-control" %>
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div>
					<div class="form-group">
            <%= f.submit "Login", class: "btn float-right login_btn" %>
					</div>
				<% end %>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<%= link_to "Sing Up", new_user_registration_path %>
				</div>
				<div class="d-flex justify-content-center">
          <%= link_to "Forgot your password?", new_user_password_path %>
				</div>
			</div>
		</div>
	</div>
</div>
